/*
    Document   : stylesheet
    Created on : Oct 17, 2012, 5:34:28 PM
    Author     : Aleksandr Sakharuk
    Description:
        Stylesheet for rt18956-relative-stylesheets.fxml
*/

.label {
 -fx-font-size: 30;
    -fx-background-color: red;
}

