/*
    Document   : fontsmoothinggray
    Created on : 28.06.2012, 20:31:57
    Author     : javafx
    Description:
        Purpose of the stylesheet follows.
*/

.web-view {
    -fx-font-smoothing-type: gray;
}